#img_1 {
	width:150px;
	height:250px;
	margin-left: 12px;
	border: 2px solid red;
}


#img_2{
	width:350px;
	height:350px;
	margin-left: 12px;
	border: 2px solid red;
}

#img_3{
	width:400px;
	height:500px;
	margin-left: 12px;
	border: 2px solid red;
}