nav a {
     color: red;
     display: block;
     text-align: center;
     text-decoration: none;
     background-color: yellow;
     }
     
nav a:hover {
     text-decoration: none;
     color: red;
     background-color: black;
     }
     
nav ul {
     width: 35em;
     padding: 1px;
     margin: 1px;
     list-style-type: none;
     display: flex;
     display: -webkit-flex;
     }
     
nav li {
     flex: 1;
     -webkit-flex: 1;
     border: 2px solid red;
     margin: 0.1em;
     }
     
nav a.current_page {
     color: yellow;
     background-color: grey;
     }