/*Style rules for the layout of the form and color*/
body{
	background-color:lightgray;
}
form{
	border:2px solid red;
	width:50%;
	background-color: #E8DECA;
	padding:10px;
	margin: auto;
	margin-bottom: 10px;
}
legend{
	border:2px solid blue;
	background-color: #E8DECA;
	color:red;
	width:30%;
}
fieldset{
	border:2px solid red;
	background-color: LightGray;
	margin-top:10px;
	font-weight: bold;
}
select{
	margin-left:153px;
	background:#fe9a80;
	color:white;
	font-weight: bold;
}
optgroup{
	background:#E8DECA;
	color:blue;
	font-weight: bold;
}
optgroup option{
	background:#fe9a80;
	color:white;
	font-weight: bold;
}
input[type="file"]
{
	margin-left: 11em;
	cursor: pointer;
	width:30%;
	font-weight: bold;
}
textarea{
	margin-left:11em;
	font-weight: bold;
	width:350px;
	hight:75px;
	
}
h1{
	text-align:center;
	padding-top:1px;
}
p{
	padding-left:2em;
	padding-top:3em;
	font-weight: bold;
}
span{
	color:red;
}

/*Style rule for the buttons*/
#buttons input[type="submit"], input[type="reset"]{
	margin-top:10px;
	font-weight: bold;
	background:red;
	border: none;
 	padding-left: 10%;
 	padding-right:10%;
 	border-radius: 2px;
  	cursor: pointer;
  	color:white;
}
#buttons{
	padding-left:30%;
}

/*Style rule for the images in the header*/
#image1{
	padding-left:10px;
	width:100px;
	height:90px;
	float:left;
}
#image2{
	padding-right:10px;
	width:100px;
	height:90px;
	float:right;
}



/*Style rule for the payment*/
#visa{
	width:150px;
	height:90px;
}
#master{
	width:150px;
	height:90px;
}
#paypal{
	width:150px;
	height:90px;
}



/*Style rules for two column*/
label{
	font-weight: bold;
	color:blue;
}

label, input[type="text"],input[type="tel"],input[type="password"],input[type="date"],input[type="email"]{
	float:left;
	display:block;	
	width: 150px;
	font-weight: bold;
}
br{
clear:left;
}

#style input, textarea{
	background-color: #fe9a80;
	border: 0.1em solid #999999;
	margin-top:0px;
	color:white;
}
section{
	display:inline;
	float:left;
	margin-left:3px;
}


/*--Membership--*/

.adult {
	margin-left: 14px;

}
.senior{
	margin-left: 29px;
}
.off{
	margin-left: 22px;
}

/*--PAYMENT--*/
.visa{
	margin-left: 54px;
}


/*--Exercise Aims--*/

.Health{
	margin-left:156px;
}
.Energy{
	margin-left:47px;
}
.Fitness{
	margin-left:75px;
}

.Toning{
	margin-left:156px;
}
.Weigth{
	margin-left:46px;
}
.Rehab{
	margin-left:39px;
}


/*--Services--*/

.None{
	margin-left:156px;
}
.Massage{
	margin-left:50px;
}
.Personal{
	margin-left:60px;
}

.Nutrition{
	margin-left:156px;
}
.Steam{
	margin-left:26px;
}
.Fitness_class{
	margin-left:36px;
}


/*Style rule for the home button*/
a{
	margin-left: 40em;
	color: red;
	font-weight: bold;
	text-decoration: none;
	background-color: black;
	border: 4px solid red;
	padding: 4px;
}
a:hover {
	text-decoration: none;
	color: blue;
	background-color: lightgray;
}