@CHARSET "ISO-8859-1";
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

th{
    color: black;
}
td{
    color: black;
}

table,td,th {
    border: .1rem solid green;
    padding: .1rem;
}

a{
    color: blue;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover {
    text-decoration: none;
    color: #FFFF03;
    background-color: #3A3A3A;
    padding-left: 10px;
    padding-right: 10px;
}